@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes y estilos base para asegurar que se vea como en la previa */
body {
  @apply bg-[#FDFCFB];
}

/* Ocultar scrollbar pero mantener funcionalidad */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
